{% extends "layouts/base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container-404">
			<div class="content404">
				<h1 class="err">Erreur 404</h1>
				<h2 class="err">La page ne peut pas être trouvée.</h2>
			</div>
			<p>La page que vous recherchez n’existe pas ou plus, nous vous conseillons de retourner sur la page d’accueil.</p>

			<a id="myButton" class="component-button component-button__color-gold" href="/">
				<span class="component-button-title">RETOUR À L'ACCUEIL</span>
			</a>

		</div>
	{% endblock %}
