// reboot
@import "./variables";
html,
body {
  
  margin: 0;
  padding: 0;
  height: 100%; /* Nous voulons que le body prenne toute la hauteur de l'écran */
  scroll-behavior: smooth;
  background-color: $white;
  cursor: none;
}

p {
  font-family: $font-quicksand;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 2px;
}



.text-transition {

  font-family: $font-georema;
  text-rendering: optimizeSpeed;
  color: $black;
  width: 100%;
  user-select: none;
  line-height: 0.8em;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  width: 100vw;
  

}
.text-transition span {
  transform: translateY(-10px);
  user-select: none;
}



#content::-webkit-scrollbar {
  display: none; /* Masque la barre de défilement sur Webkit (Chrome, Safari, etc.) */
}

#content {
  -ms-overflow-style: none; /* Masque la barre de défilement sur IE/Edge */
  scrollbar-width: none; /* Masque la barre de défilement sur Firefox */
  height: 100vh; /* La hauteur de la fenêtre */
  overflow-y: scroll; 
  
  overflow-x: hidden;
  scroll-snap-type: y mandatory; /* Défilement "snap" vertical obligatoire */
}

.section {
  width: 100%;
  height: 100vh; /* Chaque section prend toute la hauteur de la fenêtre */
  scroll-snap-align: start; /* Assure que chaque section commence au début du conteneur */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Par défaut, toutes les sections sont cachées sauf la première */
.hidden {
  opacity: 0;
  transform: translateY(100px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


.cursor {
  pointer-events: none;
  
  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference ;
    z-index: 1000;
    &--big{
      z-index: 5;
    }
    circle {
      fill: $white;
    }
  }  
  

} 


.overflow-container1{
  position: relative;

}

#hero .uagb-container__video-wrap {
  position: fixed !important;
}



.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  list-style-type: none; /* Retirer les puces de la liste */
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black; /* Effet de curseur clignotant */
  display: inline-block;
}

.typewriter li {
  margin: 0;
  padding: 0;
}

.uagb-timeline__marker{
  width: 0%;
 transition: width .5s ease;
  }
.uagb-timeline__marker:hover{
width: 5%;
}

.wp-block-ttb-text-typing {
font-family: $font-quicksand;

span{
  font-size: 30px !important;
}
}

.uagb-modal-popup{
  cursor: default;

  form{
    .uagb-forms-field-set{
      margin-bottom: 50px !important;
    }
    .uagb-forms-input-label{
      font-family: $font-georema;
      font-size: 25px !important;
    font-weight: 600;
    letter-spacing: 2Px;
    }
    .uagb-forms-input{
      font-family: $font-quicksand;
      font-size: 15px;
    }
    .wp-block-uagb-forms-accept{
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      label{
font-family: $font-quicksand;
        color: #fff;
      }
    }
  }
}

.section{
  min-height: 100vh !important;
  height: fit-content !important;
}

.section#hero{
  height: 100vh !important;
}

.uagb-spectra-button-wrapper{
  text-align: center;
}

.uagb-tabs__panel{
flex-wrap: nowrap !important;

}

@media (max-width: 1450px) {
  .uagb-tabs__panel{
    .uagb-tabs-list{
      font-size: 26px !important;
    }
    }
  p {
    font-size: 15px;
  }
.astronaute img{
  width: 45em !important;
}
.uagb-icon-list__label{
  font-size: 15px !important;
}

.wp-block-ttb-text-typing {
  span{
    font-size: 22px !important;
  }
  }
}



.title-white{
  color: $white;
}

.eyes {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.eye {
  width: 85px;
  height: 70px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupil {
  width: 40px;
  height: 40px;
  border-radius: 101px;
  background-color: #000;
}

// #content{
//   @media (max-width: 768px) {
// display: none;
//   }
// }

// .mobile-maintenance{
//   @media (min-width: 768px) {
//     display: none;
//       }
// svg{
//   width: 100px;
//   height: 100px;
//   margin-bottom: 40px;
// }
//     height: 100vh;
//     max-height: 100vh;
//     flex-direction: column;
//       max-width: 100vw;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-family: $font-quicksand;
//       font-size: 18px;
//       padding: 30px;
//       text-align: center;
      
// }

.uagb-modal-popup-content{
  background-color: $black !important;
  border-color: $black !important;
}
.uagb-modal-popup-wrap{
  max-width: 90% !important;
}