.nav-mobile {
  display: none;
  background-color: #ffffff;
  align-items: center;
  padding-left: 7%;
  height: 85px;
  width: 100vw;
  position: fixed;
  z-index: 501;
  box-shadow: 0px 2px 10px 3px #51515152;
  @media (max-width: 1024px) {
    display: flex;
  }
}
