<nav
	id="nav-mobile" class="nav-mobile" role="navigation">
	<!-- MENU TOGGLE BUTTON -->
	<a href="/"></a>

	<a class="toggle" role="button" aria-expanded="false" aria-controls="menu">
		<div class="menu-alt-svg menu-icon"></div>
		<div class="cross-svg menu-icon"></div>
	</a>
</nav>


{# <div class="main-menu-mobile">
	<ul>
		<li><a href="/" class="main-menu-mobile__item">lien 1</a></li>
		<li><a href="/" class="main-menu-mobile__item">lien 1</a></li>
		<li><a href="/" class="main-menu-mobile__item">lien 1</a></li>
		<li><a href="/" class="main-menu-mobile__item">lien 1</a></li>


	</ul>
</div> #}
