<div class="footer-container">

	<div class="footer-after">
		©
		{{ "now"|date("Y") }}
		tompress 
																						- Réalisation
		<a class="footer-after-links" target="_blank" href="https://www.lk-interactive.fr/">Tom Ruiz</a>
		-
		<a class="footer-after-links" href="/politique-de-confidentialite/">Politique de confidentialité</a>
		-
		<a class="footer-after-links" href="/mentions-legales/">Mentions légales</a>
		-
		<a class="footer-after-links" href="/plan-du-site/">Plan du site</a>
	</div>

</div>
